*.[oa]
*.bundle
*.dylib
*.mode1v3
*.pbxuser
*.rbo
#*#
.*.rej
*.rej
*.orig
.*~
*~
.#*
*.sw[po]
/tags
GPATH
GRTAGS
GSYMS
GTAGS
.DS_Store
.ext
.installed.list
.*objs
/macruby
/markgc
/miniruby
Makefile
doc/
dtrace.h
ext/openssl/extconf.h
ext/ripper/eventids1.c
ext/ripper/eventids2table.c
ext/ripper/ripper.c
ext/ripper/ripper.y
ext/ripper/y.output
ext/socket/constants.h
framework/Info.plist
include/ruby/config.h
kernel_data.c
lex.c
miniprelude.c
mkmf.log
mspec/upstream_patches
mspec_upstream
node_name.inc
parse.c
plblockimp/blockimp_ARM*
plblockimp/blockimp_x86*
plblockimp/blockimp_i386*
prelude.c
rbconfig.rb
revision.h
rubyspec_temp
spec/frozen/optional/ffi/fixtures/build
spec/frozen/upstream_patches
spec/ruby
y.tab.c
test-mri/result
test-mri/test/csv/temp.gz
test-mri/pstore.*
test_vm/zzz.rb
