<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SKOuputFolder</key>
	<string>~/Desktop</string>
	<key>SKPreferMovieFileFolder</key>
	<false/>
	<key>SKAddSubfoldersOnDrop</key>
	<false/>
	<key>SKImageFormatPrefKey</key>
	<string>PNG</string>
	<key>SKMaximumConcurrentOperations</key>
	<integer>4</integer>
	<key>SKImageFileWidth</key>
	<integer>1024</integer>
	<key>SKSpacingBetweenThumbnails</key>
	<integer>10</integer>
	<key>SKNumberOfRows</key>
	<integer>5</integer>
	<key>SKNumberOfColumns</key>
	<integer>3</integer>
	<key>SKImageBackgroundColor</key>
	<dict>
		<key>Red</key>
		<integer>1</integer>
		<key>Green</key>
		<integer>1</integer>
		<key>Blue</key>
		<integer>1</integer>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>SKImageShadowColor</key>
	<dict>
		<key>Red</key>
		<real>0.495</real>
		<key>Green</key>
		<real>0.495</real>
		<key>Blue</key>
		<real>0.495</real>
		<key>Alpha</key>
		<real>0.95</real>
	</dict>
	<key>SKImageMovieInfoColor</key>
	<dict>
		<key>Red</key>
		<integer>0</integer>
		<key>Green</key>
		<integer>0</integer>
		<key>Blue</key>
		<integer>0</integer>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
