<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sketch2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Draw2File</string>
			<key>CFBundleTypeName</key>
			<string>Apple Sketch document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.sketch2</string>
			</array>
			<key>NSDocumentClass</key>
			<string>SKTDocument</string>
			<key>NSExportableAs</key>
			<array>
				<string>NSPDFPboardType</string>
				<string>NSTIFFPboardType</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>public.tiff</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSPDFPboardType</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
				<string>tif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSTIFFPboardType</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Draw2App</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.MacRubyCocoaExamples.Sketch</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleSignature</key>
	<string>sktc</string>
	<key>CFBundleVersion</key>
	<string>51</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>Draw2</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>Sketch.sdef</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Apple Sketch document</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIconFile</key>
			<string>Draw2File</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.sketch2</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sketch2</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSSupportsSuddenTermination</key>
	<true/>
</dict>
</plist>
