<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>A Ruby class which is a subclass of NSWindowController.</string>
	<key>MainTemplateFile</key>
	<string>class.rb</string>
</dict>
</plist>
