html {
    margin: 0;
    padding: 1em;
}
body{
    font: 12pt helvetica,arial,freesans,clean,sans-serif;
    line-height: 1.4em;
    color: #333;
    border: none;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 900px; 
    text-align: left;
    color: black;
    background: #fff;
}

h2 {
    font-size: 150%;
    margin-top: 1em;
    border-top: 4px solid #e0e0e0;
    padding-top: .5em;
}

h3 {
    margin-top: 1em;
}

br+br {
    line-height: 0;
    height: 0;
    display: none;
}

p {
    margin: 1em 0 !important;
    line-height: 1.5em !important;
}

pre, code {
    font: 12px 'Bitstream Vera Sans Mono', 'Courier', monospace;
}

pre {
    -webkit-box-shadow: rgba(0, 0, 0, 0.0664062) 0px 1px 2px 0px inset;
    background-color: #EEE;
    border: #ddd 1px solid;
    color: #444;
    display: block;
    margin: 12px 0;
    overflow: auto;
    padding: 5px;
    white-space: pre;
    max-width: 100%;
    overflow: auto;
}

code {
    background-color: ghostWhite;
    color: #444 !important;
    padding: 0 .2em;
    border: 1px solid #DEDEDE;
}

pre code {
    padding: 0 !important;
    font-size: 12px !important;
    background-color: #EEE !important;
    border: none !important;
    overflow: visible;
}

a, a code {
    color: #4183C4;
    text-decoration: none;
}

table td {
    border-bottom: 1px solid #DDD !important;
    padding: .2em 1em !important;
}
